production:
  adapter: mysql2
  timeout: 5000
  encoding: utf8
  reconnect: false
  database: {{ database_name }}
  pool: 5
  username: {{ database_user }}
  password: {{ database_password }}


development:
  adapter: mysql2
  timeout: 5000
  encoding: utf8
  reconnect: false
  database: {{ database_name }}
  pool: 5
  username: {{ database_user }}
  password: {{ database_password }}
