server {
  listen 80;
  server_name {{ server_name }};
  root /home/{{deploy}}/var/www/{{full_app_name}}/current/public;
  passenger_enabled on;
  rails_env production;
}


#server {
#    listen       80;
#    server_name  {{ server_name }};
#    return       301 http://www.{{ server_name }}$request_uri;
#}
