# encoding: utf-8

##
# Backup Generated: :{{basic_name}}_backup
# Once configured, you can run the backup with the following command:
#
# $ backup perform -t :{{basic_name}}_backup [-c <path_to_configuration_file>]
#
# For more information about Backup's components, see the documentation at:
# http://backup.github.io/backup
#

Model.new(:{{basic_name}}_backup, 'Backup for the application : {{server_name}} ') do

  # Split the files into chunks of 25MB
  split_into_chunks_of 25

  archive :my_archive do |archive|
    archive.add(File.realdirpath ("/home/{{deploy}}/var/www/{{full_app_name}}/current") )
  end



  ##
  # Gzip [Compressor]
  #
  compress_with Gzip


  database MySQL do |db|
    # To dump all databases, set `db.name = :all` (or leave blank)
    db.name               = "{{database_name}}"
    db.username           = "{{database_user}}"
    db.password           = "{{database_password}}"
    db.host               = "{{database_host}}"
    db.port               = 3306
    # supplying a `socket` negates `host` and `port`
    # db.socket             = "/tmp/mysql.sock"
    # specifying `sudo_user` will run the backup utility on behalf of that Unix user (instead of current one)
    # db.sudo_user          = "root"
    # Note: when using `skip_tables` with the `db.name = :all` option,
    # table names must be prefixed with a database name.
    # e.g. ["db_name.table_to_skip", ...]
    # db.skip_tables        = ["skip", "these", "tables"]
    # db.only_tables        = ["only", "these" "tables"]
    # db.additional_options = ["--quick", "--single-transaction"]
    db.prepare_backup = true # see https://github.com/meskyanichi/backup/pull/606 for more information
  end


  # Store data in Dropbox as well.
	store_with Dropbox do |db|
	  db.api_key     = "{{dropbox_key}}"
	  db.api_secret  = "{{dropbox_secret}}"
	  # Sets the path where the cached authorized session will be stored.
	  # Relative paths will be relative to ~/Backup, unless the --root-path
	  # is set on the command line or within your configuration file.
	  db.cache_path  = ".cache"
	  # :app_folder (default) or :dropbox
	  db.access_type = :app_folder
	  db.path        = "{{ backup_setup.config_dir }}/models/{{basic_name}}_backup"
	  # Use a number or a Time object to specify how many backups to keep.
	  db.keep        = 25
	end


  ##
  # Local (Copy) [Storage]
  #
  store_with Local do |local|
    local.path       = "~/backups/"
    local.keep       = 5
    # local.keep       = Time.now - 2592000 # Remove all backups older than 1 month.
  end


  ##
  # Mail [Notifier]
  #
  # The default delivery method for Mail Notifiers is 'SMTP'.
  # See the documentation for other delivery options.
  #


  notify_by Mail do |mail|
    mail.on_success           = true
    mail.on_warning           = true
    mail.on_failure           = true
    mail.delivery_method      = :sendmail

    mail.from                 = "backup@quadtrust.com"
    mail.to                   = "{{backup_user_email}}"
    mail.cc                   = "{{backup_user_email_cc}}"
    mail.bcc                  = "{{backup_user_email_bcc}}"
    mail.reply_to             = "{{backup_user_replyto_email}}"

    mail.send_log_on = [:success, :warning, :failure]

    # mail.address              = "smtp.gmail.com"
    # mail.port                 = 587
    # mail.domain               = "your.host.name"
    # mail.user_name            = "{{postfix_relayhost_user}}"
    # mail.password             = "my_password"
    # mail.authentication       = "plain"
    # mail.encryption           = :starttls
  end

end
