driftfile /var/lib/ntp/ntp.drift
#statsdir /var/log/ntpstats/

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% for server in ntp.servers | sort %}
server {{ server }}
{% endfor %}

restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

restrict 127.0.0.1
restrict ::1

#restrict 192.168.123.0 mask 255.255.255.0 notrust

#broadcast 192.168.123.255

#broadcastclient